<include file="Common/header"/>
<link href="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/css/H-ui.admin.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<title>添加管理员 - LHK后台管理系统</title>
</head>
<body>
<div class="pd-20">
	<form action="{:U('addRule')}" method="post" class="form form-horizontal" id="form-rule-add">
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>规则名：</label>
			<div class="formControls col-5">
				<input type="text" ajaxurl="{:U('checkRuleUnique')}" class="input-text" id="name" name="name" datatype="*1-80" nullmsg="规则名不能为空">
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>中文名称：</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" id="title" name="title" datatype="*1-20" nullmsg="中文名称不能为空">
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">父规则：</label>
			<div class="formControls col-5"> 
				<span class="select-box" style="width:auto;">
					<select class="select" name="pid">
						<option value="0">顶级规则</option>
						<volist name="rule_data" id="vo">
							<if condition="$vo['level'] neq 2">
								<option value="{$vo.id}">{$vo.level|str_repeat='- ',###}{$vo.title}（{$vo.name}）</option>
							</if>	
						</volist>
					</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>状态：</label>
			<div class="formControls col-5 skin-minimal">
				<div class="radio-box">
					<input type="radio" id="status-1" checked name="status" value="1" datatype="*" nullmsg="请选择状态！">
					<label for="status-1">启用</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="status-2" name="status" value="0">
					<label for="status-2">禁用</label>
				</div>
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">图标：</label>
			<div class="formControls col-5">
				<input type="text" autocomplete="off" class="input-text" id="icon" name="icon">
			</div>
			<div class="col-4">[ <a href="http://lib.h-ui.net/Hui-iconfont/1.0.7/demo.html" target="_blank">查看图标库，格式：{:htmlspecialchars("&#xe684;");}</a> ]</div>
		</div>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>排序：</label>
			<div class="formControls col-5">
				<input type="number" class="input-text" id="sort" name="sort" value="50" datatype="n">
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>规则表达式：</label>
			<div class="formControls col-5">
				<input type="text" maxlength="100" class="input-text" placeholder="" name="condition" id="condition" dragonfly="true">
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<div class="col-9 col-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</div>
<include file="Common/footer"/>
<script type="text/javascript" src="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/lib/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__ADMIN__/js/{$Think.const.CONTROLLER_NAME}/{$Think.const.ACTION_NAME}.js"></script>
</body>
</html>