<include file="Common/header"/>
<link href="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/css/H-ui.admin.css" rel="stylesheet" type="text/css"/>
<title>权限管理 - LHK后台管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span class="l">
			<a href="javascript:;" onclick="delete_select()" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除
			</a>
			<a href="javascript:;" onclick="my_iframe('添加规则','{:U('addRule')}')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 添加规则
			</a>
		</span>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort" style="width: 100%">

		</table>
	</div>
</div>
<include file="Common/footer"/>
<script type="text/javascript" src="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMIN__/js/{$Think.const.CONTROLLER_NAME}/{$Think.const.ACTION_NAME}.js"></script>
</body>
</html>