<include file="Common/header"/>
<link href="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/css/H-ui.admin.css" rel="stylesheet" type="text/css"/>
<title>系统日志 - LHK后台管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 系统日志 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<div class="text-c"> 日期范围：
		<input type="text" onfocus="WdatePicker({maxDate:'#F{ $dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({minDate:'#F{ $dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">
		<input type="text" class="input-text" style="width:250px" placeholder="输入关键词" id="" name="">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜意见</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span> <span class="r">共有数据：<strong>88</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort" style="width: 100%">

		</table>
	</div>
</div>
<include file="Common/footer"/>
<script type="text/javascript" src="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/lib/Validform/5.3.2/Validform.min.js"></script>  
<script type="text/javascript" src="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(function() {
	$('.table-sort').dataTable({
		"ajax": '__CONTROLLER__/logData',
		"columns": [
            { "title": "<input type=\"checkbox\" name=\"\" value=\"\" />", "class": "text-c", "width": "25px" },
            { "title": "ID", "class": "text-c", "width": "80px" },
            { "title": "用户名", "class": "text-c", "width": "100px" },
            { "title": "类型", "class": "text-c", "width": "100px" },
            { "title": "内容", "class": "text-c" },
            { "title": "时间", "class": "text-c", "width": "120px" },
            { "title": "客户端IP", "class": "text-c", "width": "120px" },
            { "title": "操作", "class": "text-c", "width": "70px" }
        ],
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
			{"orderable":false,"aTargets":[0,2,4]}// 制定列不参与排序
		]
	});
	
	$('.table-sort tbody').on( 'click', 'tr', function() {
		if ($(this).hasClass('selected')) {
			$(this).removeClass('selected');
		}
		else {
			$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});
</script>
</body>
</html>