<script type="text/javascript" src="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Plugins/H-ui/H-ui.admin_2.3.1/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugins/layer/layer-v2.1/layer.js"></script>  
<script type="text/javascript" src="__PUBLIC__/Common/common.js"></script>
<script>
/*
var _hmt = _hmt || [];
(function() {
	var hm = document.createElement("script");
  	hm.src = "//hm.baidu.com/hm.js?080836300300be57b7f34f4b3e97d911";
  	var s = document.getElementsByTagName("script")[0]; 
  	s.parentNode.insertBefore(hm, s);
})();
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F080836300300be57b7f34f4b3e97d911' type='text/javascript'%3E%3C/script%3E"));
*/
</script>